%head-line {
    height: 3px;
    width: 127px;
    margin: 25px auto;
    background: $head_line-color;
}
    //  @extend %head-line;

@mixin section-line ($width, $height, $bg_clr, $margin, $display) {
    width: $width;
    height: $height;
    background: $bg_clr;
    overflow: hidden;
    margin: $margin;
    display: $display;
}    

//   @include Sline(100%);


// width: 100%;
// height: 2px;
// background: #ddd;
// overflow: hidden;
// margin: 20px 0px;
// display: inline-block;