// COLORS
$body_bg-color: #FFFFFF;
$body-color: #797979;
$main-color: #F8F8F8;
$sec-color:#3BD3BA;
$icon-color:#95E1D3;
$head_line-color: #f38181;
$section_ine-color:#ddd;
$link_hover-color : #f6c23a;

$linear_gradient-color: linear-gradient(rgba(219, 116, 117, 0.6) ,rgba(228, 205, 125, 0.75));

//bg_imgs
$img_bg-size: cover;


