// COLORS
$body_bg-color: #FFFFFF;
$body-color: #797979;
$main-color: #F8F8F8;
$sec-color:#3BD3BA;
$icon-color:#95E1D3;
$head_line-color: #f38181;
$section_ine-color:#ddd;
$link_hover-color : #f6c23a;

//bg_imgs
$img_bg-size: cover;


