@import './partial/var';
@import './partial/base';
@import './partial/placeholders';
@import './partial/function';



body {
    background-color: $card-color;
}

section {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 1em;
    
    h2 {  
        position: relative;
        &::before {
            content: "SERVICES";
            position: absolute;
            opacity: .2;
            margin: -18px -60px;
            font-size: 2em;
        }
    }
    &, h6 {
        color: $section-color; 
    }
    .wrapper {
        @include wrapper (flex, wrap, space-between, 1em);
        
        .card {
            @include wrapper-child(30%);
            @media screen and (max-width: 992px) {
                @include wrapper-child(50%);
            }
            @media screen and (max-width: 600px) {
                @include wrapper-child(100%);
            }
            margin-bottom: 4em;
            padding: 0.5em;
            border-radius: 2px;
            background-color: $section-color;
            color: $card-color;
            
            i {
                color: $section-color;
                background-color: $card-color;
                position: absolute;
                border-radius: 25px;
                padding: .6em 0.5em;
                margin: -25px 0 0 -17px;
                border: 1px solid $section-color; 
            }
            h4::after {
                @extend %line;
                }   
            }

            figure {
                margin: 0 auto;
                width: 20%;
                @media screen and (max-width: 600px) {
                    width: 70%;
                    order: 0;
                }
                img {
                    border: 7px solid $img-border;
                    
                border-radius: 50%;
                }
            }
            img {
                width: $img-width;
            }

            .card-2 {
                @include wrapper-child(50%);
                @media screen and (max-width: 600px) {
                    @include wrapper-child(90%);
                    order: 1;
                    text-align: center;
                }
                text-align: left;
                // .btn {
                //     @include btn(0.85em 3em, 24px, none, $section-color);
                // }
                .orange {
                    @include btn(0.85em 3em, 24px, none, $section-color, greencolor );
                }
                .green {
                    @include btn(0.85em 3em, 24px, none, $section-color, orangcolor);
                }
            }

            .brand-logo {
                @include wrapper-child(10%);
                align-self: center;
                height: 90px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            @for $i from 1 to 7 {
                .logo-#{$i} {
                    border: 4px solid $img-border;
                   
                }
            }
            
        }
    }


