@import './partial/var';
@import './partial/base';



$section-color: #fff;
$card-color: #000;


body {
    background-color: $card-color;
}

section {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding {
        top: 4em;
        bottom: 3em;
    }
    
    h2 {
        color: $section-color;
        &::before {
            content: "SERVICES";
        }
    }
}

// &::before
// h6 {

// }
// .wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// // placeholder | extend
// // %line
// %card

// %circle
//  {
//     width: ;
//     height
// // }

// width 