body {
    background-color: #FFFFFF;
    color: #797979;
    font-size: 0.9375rem;
    font-family: 'robotoregular';
    font-weight: 300;
    line-height: 1.42857143; 
}
h3 {
    font-size: 1.5rem;
    line-height: 2.2rem;
}
h2 {
    font-size: 1.875rem;
    line-height: 3rem;
}
h5 {
    font-size: 0.875rem;
    line-height: 2.5rem;
}
h6 {
    font-size: 1rem;
}
p {
    font-size: 0.75rem;
}
.statistices {
    background-color: #3BD3BA;
}
.brands, .blockquote, footer {
    background-color: #F8F8F8;
}
.uniqe_design {
    background-image: url(../assets/img/divicebg.jpg);
}
.clients {
    background-image: url(../assets/img/clientbg.jpg);
}
.map {
    background-image: url(../assets/img/mapbg.jpg);
}

.card__story {
    border: none !important;
    // .card-footer {
    //     background-color: #fff;
    // }
}
.card__bg {
    background-color: #F8F8F8 !important;
}

