body {
    background-color: #FFFFFF;
    color: #797979;
    font-size: 0.9375rem;
    font-family: 'robotoregular';
    // font-weight: 300;
    line-height: 1.42857143; 
}
.statistices {
    background-color: #3BD3BA;
}
.brands {
    background-color: #F8F8F8;
}
.uniqe_design {
    background-image: url(../assets/img/divicebg.jpg);
}
.clients {
    background-image: url(../assets/img/clientbg.jpg);
}

