body {
    background-color: #FFFFFF;
    // font-size: 1rem;
    // text-align
    // font-family, line-height
    
}
.statistices {
    background-color: #3BD3BA;
}
.uniqe_design {
    background-image: url(../assets/img/divicebg.jpg);
}

